@{ ViewBag.Title = "Perguntas Frequentes"; }
<h2>@ViewBag.Title sobre o Gerenciador de Palpites</h2>
<h4>As dúvidas mais frequentes estão aqui</h4>
<br />
<p style="font-weight: bold">Até quando poderei cadastrar os palpites das partidas?</p>
<p>Os palpites poderão ser cadastrados até uma hora antes do início da partida.</p>
<br />
<p style="font-weight: bold">Os gols após o tempo regulamentar serão considerados? (Prorrogação e Disputas de Pênalti)</p>
<p>Não. Somente os gols do tempo regulamentar serão considerados. Os gols da "prorrogação" e de "disputas de pênaltis" não serão considerados.</p>
<br />
<p style="font-weight: bold">Quando os palpites são processados?</p>
<p>O processamento dos palpites é realizado imediatamente após o fim das partidas.</p>
<br />
<p style="font-weight: bold">Tem algum custo criar ou participar de bolões?</p>
<p>Não. O Gerenciador de palpites é um site 100% gratuito.</p>
<br />
<p style="font-weight: bold">Tem algum limite de participantes por bolão?</p>
<p>Não. O número de participantes é ilimitado.</p>
<br />
<p style="font-weight: bold">Posso configurar os valores da pontuação de resultados?</p>
<p>Sim. Na criação do bolão, o criador define quais serão as regras utilizadas para as pontuações do bolão e quais as pontuações de cada regra.</p>
<br />
<p style="font-weight: bold">Como posso convidar meus amigos?</p>
<p>Clique em uma das opções do "Convidar amigos" do seu bolão.</p>
<br />
<p style="font-weight: bold">Posso ver os palpites dos outros participantes?</p>
<p>Sim. Depois do início da partida, todos os palpites ficam visíveis. Clique no menu da partida e escolha "Ver todos palpites".</p>
<br />
<p style="font-weight: bold">Como faço para entrar em um bolão já criado por alguém?</p>
<p>Utilize a busca para encontrá-lo ou entre direto pelo link informado pelo criador do bolão. Depois de encontrar é só clicar no botão "Participar".</p>