@{ ViewBag.Title = "Perguntas Frequentes"; }
<h2>@ViewBag.Title sobre o Gerenciador de Palpites.</h2>
<h4>As dúvidas mais frequentes estão aqui.</h4>
<br />
<h5 style="font-weight: bold">Até quando poderei cadastrar os palpites das partidas?</h5>
<h5>Os palpites poderão ser cadastrados até uma hora antes do início da partida.</h5>
<br />
<h5 style="font-weight: bold">Os gols após o tempo regulamentar serão considerados? (Prorrogação e Disputas de Pênalti)</h5>
<h5>Não. Somente os gols do tempo regulamentar serão considerados. Os gols da "prorrogação" e de "disputas de pênaltis" não serão considerados.</h5>
<br />
<h5 style="font-weight: bold">Quando os palpites são processados?</h5>
<h5>O processamento dos palpites é realizado imediatamente após o fim das partidas.</h5>
<br />
<h5 style="font-weight: bold">Tem algum custo criar ou participar de bolões?</h5>
<h5>Não. O Mais Bolão é um site 100% gratuito.</h5>
<br />
<h5 style="font-weight: bold">Tem algum limite de participantes por bolão?</h5>
<h5>Não. O número de participantes é ilimitado.</h5>
<br />
<h5 style="font-weight: bold">Posso configurar os valores da pontuação de resultados?</h5>
<h5>Sim. Na criação do bolão, o criador define quais serão as regras utilizadas para as pontuações do bolão, e quais as pontuações de cada regra.</h5>
<br />
<h5 style="font-weight: bold">Como posso convidar meus amigos?</h5>
<h5>Clique em uma das opções do "Convidar amigos" do seu bolão.</h5>
<br />
<h5 style="font-weight: bold">Posso ver os palpites dos outros participantes?</h5>
<h5>Sim. Depois do início da partida todos os palpites ficam visíveis. Clique no menu da partida e escolha "Ver todos palpites".</h5>
<br />
<h5 style="font-weight: bold">Como faço para entrar em um bolão já criado por alguém?</h5>
<h5>Utilize a busca para encontrá-lo ou entre direto pelo link informado pelo criador do bolão. Depois de encontrar é só clicar no botão "Participar".</h5>