@{
    ViewBag.Title = "Regulamento";
}
<h1>@ViewBag.Title do Gerenciador de Palpites</h1>

<h4>Regulamento geral dos bolões</h4>
<h2>Gerenciador de palpites - Regulamento de pontuações</h2>
<br />
<table class="table table-bordered table-striped" style="width: 50%; margin: auto;">
    <thead>
        <tr>
            <th scope="col">Tipo de Acerto</th>
            <th scope="col">Sigla</th>
            <th scope="col">Pontos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Placar Exato</td>
            <td align="center">PE</td>
            <td align="center">5</td>
        </tr>
        <tr>
            <td>Acertar Vencedor</td>
            <td align="center">AV</td>
            <td align="center">3</td>
        </tr>
        <tr>
            <td>Acertar Gols de um dos Times</td>
            <td align="center">AGT</td>
            <td align="center">1</td>
        </tr>
    </tbody>
</table>
<br />
<p>Para conseguir 5 pontos, o palpite do usuário precisa ser certeiro. Ou seja, se o jogo terminou 2x1 para o time da casa, o usuário tem que ter palpitado 2x1 para o time mandante.</p>
<p>Para conseguir 3 pontos, o palpite do usuário precisa acertar o vencedor da partida. Ou seja, se o jogo terminou 2x1 para o time da casa, o usuário tem que ter palpitado que o time da casa venceu o jogo por qualquer placar, exceto 2x1.</p>
<p>Para conseguir 1 ponto, o palpite do usuário precisa acertar a quantidade de gols de uma das equipes. Ou seja, se o jogo terminou 2x1 para o time da casa, o usuário tem que ter palpitado a quantidade de gols de um dos dois times. Ex.: 0x1 para o time visitante.</p>
<h3>Exemplos de pontuação:</h3>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Placar final</th>
            <th scope="col">Palpite</th>
            <th scope="col">Tipos de acerto</th>
            <th scope="col">Pontuação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2x0</td>
            <td>2x0</td>
            <td>PE</td>
            <td>5</td>
        </tr>
        <tr>
            <td>1x2</td>
            <td>1x0</td>
            <td>AGT</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3x1</td>
            <td>3x2</td>
            <td>AV + AGT</td>
            <td>4</td>
        </tr>
        <tr>
            <td>0x0</td>
            <td>1x1</td>
            <td>AV</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4x0</td>
            <td>0x2</td>
            <td>-</td>
            <td>0</td>
        </tr>
    </tbody>
</table>