@{ ViewBag.Title = "Sobre"; }
<h2>@ViewBag.Title o Gerenciador de Palpites.</h2>
<br />
<h5>
    O Gerenciador de palpites tem como objetivo
    principal o entretenimento envolvendo, usuários diversos realizando palpites
    esportivos. A aplicação permite que o usuário realize palpites em esportes
    como o Futebol, Basquete e Futebol Americano.
</h5>
<h5>
    As pessoas principalmente em época de
    algum grande evento esportivo, tem o hábito de palpitar sobre os jogos do evento.
    Um exemplo é a Copa do Mundo da FIFA. A cada quatro anos, com uma nova copa,
    os grupos de amigos se reúnem e realizam palpites sobre os jogos do evento. Isso
    gera uma competitividade entre os integrantes do grupo, desenvolvendo assim o
    entretenimento entre os integrantes do mesmo.
</h5>